
<section class="property-binding">
  <article>
    <h2>Interpolation</h2>
      <p>String renderizada com interpolation: {{ url }}</p>
      <p>Resultado de 1+1 = {{ 1+1 }}</p>
      <p>Resultado de getValor(): [ {{getValor()}} ]</p>
  </article>
  <article>
    <h2>Property Binding</h2>
      <p>Imagem:</p> 
      <p><img src='{{ getImagem() }}'></p>
      <p>Imagem por property binding explicito:</p>
      <p> <img [src]='getImagem()'></p>
      <p>Property binding usando bind-src, mesma coisa que a linha anterior:</p>
      <p><img bind-src='getImagem()'></p>
  </article>

  <article>
    <h3>Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br>
      <br>
      <div class="alert" role="alert" 
        [class.alert-success]="classe.value === 'alert-success'"
        >Sucesso</div>
      <div class="alert" role="alert"
        [class.alert-info]="classe.value === 'alert-info'"
        >Info</div>
      <div class="alert" role="alert"
        [class.alert-warning]="classe.value === 'alert-warning'"
        >Alerta</div>      
      <div class="alert" role="alert"
        [class.alert-danger]="classe.value === 'alert-danger'"
        >Erro</div>
    </div>
  </article>
</section>